.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 200px 1fr 50px 1fr;
  grid-template-rows: 60px 1fr;
  gap: 1em 0.5em;
  grid-template-areas:
    "topbar topbar topbar topbar topbar"
    "a operation b equals result";
  height: 100%;
  padding-bottom: 2rem;
}
