.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.textarea {
  flex-grow: 1;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  height: 100%;
  resize: none;
}
