.container {
  position: relative;
}

.label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  box-sizing: border-box;
  cursor: pointer;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  width: 100%;
}

.radio {
  left: 0.5rem;
  margin: 0;
  position: absolute;
  z-index: 1;
}

.radio[type="radio"]:checked + label {
  border: 2px solid blue;
}

.list {
  left: 50%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 100%;
}

.list li:not(:last-child) {
  margin-bottom: 3rem;
}

.item {
  align-items: center;
  display: flex;
  position: relative;
}
