.topbar {
  align-items: center;
  background-color: #c91b9d;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  display: flex;
  grid-area: topbar;
  justify-content: space-between;
  padding: 0 1em;
}

.title {
  color: #fafafa;
  font-size: 1.5em;
  font-weight: normal;
}

.link {
  display: flex;
}
